<%- include('../partials/header') %>
<form action="/flights" class ="new-flight " method="POST"> 
  <!-- the form is the UI -->
  <label>Airline:
    <input type="text" name="airline">
  </label><br>
  <label>Airport:
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="LAX">LAX</option>
      <option value="DFW">DFW</option>
      <option value="ATL">ATL</option>
      <option value="DEN" selected="selected">DEN</option>
      <option value="SAN">SAN</option>
    </select>
  </label><br>
  <label>Flight Number:
    <input type="text" name="flightNumber">
  </label><br>
  <label for = "departs-time">Choose Departure Date and Time:</label>
    <input type="datetime-local" id="depart" name="departs" 
    value='<%=departsDate%>'>
  <input type="submit" value="Add Flight">
</form>
</body>
</html>