<%- include('../partials/header') %>
    <h2>Enter a New Flight</h2>
<form action="/flights" method="POST">
  <label>Airline:
    <input type="text" name="airline">
  </label><br>
  <label>Airport:
    <select name="airport">
      <option value="ATL">ATL</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
  </label><br>
  <label>FlightNumber:
    <input type="text" name="flightNumber">
  </label><br>
  <label for = "departs-time">Choose Departure Date and Time:</label>
    <input type="datetime-local" id="depart" name="departs" 
    value="2022-04-01T00:00">
  <!-- <label>Departs:
    <input type="text" name="departs">
  </label><br> -->
  <input type="submit" value="Add Flight">
</form>
</body>
</html>